@charset "UTF-8";

*{padding:0;margin:0;}

.w50 {
  width: 50%;
}

button {
  padding:0.34em;
  margin-left: 4px;
}

main {
  /* display: flex; */
  padding: 1em;
  /* overflow: hidden; */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.scale-option {
  margin-bottom: 1em;
}

.base-container {
  position: relative;
  transform-origin: left top;
  scale: 1;
  display: inline-block;
}

#container {
  border:1px solid #84bcda;
  width:300px;
  height:300px;
  position: relative;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
}
.dot {
  width:10px;
  height:10px;
  background: #000;
  position: absolute;
}

#status {
  font-size: 2em;
  color: rgba(255,0,0,1);
}

.guide-container {
  border:1px solid #84bcda;
  width:300px;
  height:300px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-image:
    linear-gradient(rgba(0,0,0,0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.5) 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px;
  background-position: 0px 0px, 0px 0px;
}
.guide-container .guide-dot {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px dotted red;
  box-sizing: border-box;
}

.util {
  padding: 1em;
  position: fixed;
  right: 0;
  top: 0;
  border: 1px solid red;
}
.util dl {
  margin-bottom: 1em;
}
.util dt {
  font-size: 1.4em;
  cursor: pointer;
}
.util dd {
  overflow: hidden;
  border-bottom : 1px solid red;
}
.util dt.hidden + dd {
  height: 1px;
}


.util .row {
  display: flex;
  padding:0.4em;
}
.util .col {
  display: flex;
  padding-right: 5px;
}
.util .col:last-child {
  padding-left: 0;
  padding-left: 5px;
}
.util label {
  width: 60px;
}
.util input {
  margin-left: 4px;
}

.sample {
  display: none;
}
.sample img {
  border: 1px dotted #84bcda;
  width: 200%;
}