@charset "UTF-8";

*{padding:0;margin:0;}

main {
  display: flex;
  padding: 1em;
}

.base-container {
  position: relative;
}

.base-container #container {
  border:1px solid red;
  width:500px;
  height:500px;
  position: relative;
  background-color: rgba(0,0,0,0.3);
}
.dot {
  width:10px;
  height:10px;
  background: #000;
  position: absolute;
}

#status {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2em;
  color: rgba(255,0,0,0.8);
}

.util {
  padding: 1em;
}
.util li {
  margin-bottom: 1em;
}