@charset "UTF-8";

@import url(./common.css);
@import url(./util.css);
@import url(./tool_bar.css);


.base-container {
  position: absolute;
  scale: 2.0;
  top: 70px;
  left: 110px;
  transform-origin: left top;
  border: 2px solid #ccc;
}
.base-container.grab {
  cursor: grab;
}
.base-container.grabbing {
  cursor: grabbing;
}


.container {
  width:300px;
  height:300px;
  position: relative;
  background-color: #ff00ff;
  overflow: hidden;
}
.container > i {
  width:5px;
  height:5px;
  background: #000;
  position: absolute;
}


.guide-container {
  width:300px;
  height:300px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-image:
    linear-gradient(rgba(0,0,0,0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.5) 1px, transparent 1px);
  background-size: 5px 5px, 5px 5px;
  background-position: 0px 0px, 0px 0px;
}
.guide-container .guide-dot {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px dotted rgb(0, 255, 68);
  box-sizing: border-box;
}

#loadedFile { 
  display: none;
}